<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member_info">
	<!-- 회원가입 -->
  <insert id="insert">
  	insert into member_info(member_no, member_id, member_pwd, member_email, member_name, member_info_open, member_regidate, member_birth, member_gender, member_nickname, member_introduce, member_img) values(
        seq_member_no.nextval, #{member_id}, #{member_pwd}, #{member_email}, #{member_name}, #{member_info_open}, sysdate, #{member_birth}, #{member_gender}, #{member_nickname}, #{member_introduce}, #{member_img})
  </insert>
  
  	<!-- id 중복 체크 -->
  <select id="checkId" resultType="java.lang.Integer" parameterType="java.lang.String">
  	select count(*) from member_info where member_id = #{member_id}
  </select>
  
  	<!-- email 중복 체크 -->
  <select id="checkEmail" resultType="java.lang.Integer" parameterType="java.lang.String">
  	select count(*) from member_info where member_email = #{member_email}
  </select>
  
  	<!-- 닉네임 중복 체크 -->
  <select id="checkNickname" resultType="java.lang.Integer" parameterType="java.lang.String">
	select count(*) from member_info where member_nickname = #{member_nickname}  	
  </select>
  
  	<!-- 로그인  (@를 누르면 로그인하라고 창이 뜨게끔도 되는지 확인해보기) -->
  <select id="login" resultType="member_infoVo">
  	select * from member_info where member_id = #{member_id} and member_pwd = #{member_pwd}
  </select>
  
  	<!-- 회원 수정 -->
  <update id="update">
  	update member_info set member_pwd = #{member_pwd}, member_info_open = #{member_info_open}, 
  		member_nickname = #{member_nickname}, member_introduce = #{member_introduce}, 
  		member_img = #{member_img} where member_no = #{member_no}
  </update>
  
  	<!-- 비밀번호 찾기 -->
  <update id="findPwd">
  	update member_info set member_pwd = #{member_pwd} where member_no = #{member_no} and member_email = #{member_email}
  </update>
  
  	<!-- 회원 탈퇴 -->
  <delete id="delete">
  	delete from member_info where member_no = #{member_no}
  </delete>
  
</mapper>